In [1]:
#import dependencies
import pandas as pd
import numpy as np

In [2]:
#load csv
data_file = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(data_file)

In [3]:
#preview dataframe
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

<h3> Player Count

In [4]:
#the total number of players
total_players = purchase_data.SN.nunique()
print(f"Total Players: {total_players}")

Total Players: 576

<h3> Purchasing Analysis (Total) </h3>

In [5]:
#calculations
unique_items = purchase_data["Item Name"].nunique()
ave_price = round(purchase_data["Price"].mean(), 2)
total_revenue = purchase_data["Price"].sum()
total_transactions = purchase_data["Purchase ID"].count()

#build df
summary_array = {'Number of Unique Items': unique_items, 
                 'Average Price': f"${ave_price}", 
                 'Total Revenue': f"${total_revenue}", 
                 'Number of Transactions': total_transactions}

summary_df = pd.DataFrame(summary_array, index=[0])

summary_df.head()

   Number of Unique Items Average Price Total Revenue  Number of Transactions
0                     179         $3.05      $2379.77                     780

<h3> Gender Demographics </h3>
+ Percentage and Count of Male Players
+ Percentage and Count of Female Players
+ Percentage and Count of Other / Non-Disclosed

In [6]:
#display all unique entries in Gender column
purchase_data["Gender"].unique()

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

In [7]:
#assign gender column to a variable
gender_col = purchase_data["Gender"]

total_count = gender_col.count()

male_count = (gender_col == "Male").sum()
male_perc = male_count / total_count

female_count = (gender_col == "Female").sum()
female_perc = female_count / total_count

others_count = (gender_col == "Other / Non-Discolsed").sum()
others_perc = others_count / total_count

#build df
gender_df = pd.DataFrame({
    'Gender': ["Male", "Female", "Other / Non-Disclosed"],
    'Player Count': [male_count, female_count, others_count],
    'Percentage of Players': [male_perc, female_perc, others_perc]
})

#assign gender column as index
gender_df = gender_df.set_index(["Gender"])

#display df
gender_df

                       Player Count  Percentage of Players
Gender
Male                            652               0.835897
Female                          113               0.144872
Other / Non-Disclosed             0               0.000000

<h3> Purchasing Analysis (Gender) </h3>

In [8]:
male = purchase_data.loc[purchase_data['Gender'] == 'Male']
female = purchase_data.loc[purchase_data['Gender'] == 'Female']
others = purchase_data.loc[purchase_data['Gender'] == 'Other / Non-Disclosed']

m_purchase_count = male['Purchase ID'].count()
m_ave_purchase_price = male['Price'].mean()
m_total_purchase_value = male['Price'].sum()
m_ave_purchase_pax = male.groupby(['SN'])['Price'].sum().mean()

f_purchase_count = female['Purchase ID'].count()
f_ave_purchase_price = female['Price'].mean()
f_total_purchase_value = female['Price'].sum()
f_ave_purchase_pax = female.groupby(['SN'])['Price'].sum().mean()

o_purchase_count = others['Purchase ID'].count()
o_ave_purchase_price = others['Price'].mean()
o_total_purchase_value = others['Price'].sum()
o_ave_purchase_pax = others.groupby(['SN'])['Price'].sum().mean()

In [9]:
#build df
gender_summary_df = pd.DataFrame({
    "Gender": ['Male', 'Female', 'Other / Non-Disclosed'],
    "Purchase Count": [m_purchase_count, f_purchase_count, o_purchase_count],
    "Average Purchase Price": [m_ave_purchase_price, f_ave_purchase_price, o_ave_purchase_price],
    "Total Purchase Value": [m_total_purchase_value, f_total_purchase_value, o_total_purchase_value],
    "Average Purchase Price per Person": [m_ave_purchase_pax, f_ave_purchase_pax, o_ave_purchase_pax]
})

#assign first column as index
gender_summary_df = gender_summary_df.set_index(['Gender'])

#display df
gender_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Price per Person
Gender,,,,
Male,652,3.017853,1967.64,4.065372
Female,113,3.203009,361.94,4.468395
Other / Non-Disclosed,15,3.346000,50.19,4.562727

<h3>Age Demographics</h3>

<h3> Purchasing Analysis (Age) </h3>

<h3>Top Spenders</h3>

In [23]:
purchase_data.groupby(['SN'])['Price'].sum().sort_values(ascending=False).head(5)

SN
Lisosia93      18.96
Idastidru52    15.45
Chamjask73     13.83
Iral74         13.62
Iskadarya95    13.10
Name: Price, dtype: float64

<h3>Most Popular Items</h3>

In [31]:
purchase_data.groupby(['Item Name'])['Purchase ID'].count().sort_values(ascending=False).head(5)

Item Name
Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Nirvana                                          9
Persuasion                                       9
Fiery Glass Crusader                             9
Name: Purchase ID, dtype: int64